@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Blade';
  src: url('/fonts/blade.ttf') format('truetype');
  /* Add additional font variants as needed */
}

@font-face {
  font-family: 'Help';
  src: url('/fonts/help.ttf') format('truetype');
  /* Add additional font variants as needed */
}

@font-face {
  font-family: 'Game';
  src: url('/fonts/game_over.ttf') format('truetype');
  /* Add additional font variants as needed */
}

.font-blade {
  font-family: 'Blade', sans-serif;
}

.font-help {
  font-family: 'Help', sans-serif;
}

.font-game {
  font-family: 'Game', sans-serif;
}

.custom-border {
  border-bottom: 1px dashed rgba(156, 163, 175, 0.2);
}